.container
  %ul
    - attendance.errors.full_messages.each do |message|
      %li= message
  = form_with(model: attendance, local: true) do |f|
    %div
      = f.label :title, 'タイトル'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :start_time, '出勤時間'
    %div
      = f.time_field :start_time, class: 'text'
    %div
      = f.label :end_time, '退勤時間'
    %div
      = f.time_field :end_time, class: 'text'
    %div
      = f.label :break_time, '休憩時間(時間)'
    %div
      = f.number_field :break_time, class: 'text'
    %div
      = f.label :content, '補足内容'
    %div
      = f.text_area :content
    = f.submit '保存', class: 'btn-primary'
