<div class="container">
  <div class="tabs">
    <div class="tabs_item active">
      出退勤一覧
    </div>
    <div class="tabs_item">
      タイムライン
    </div>
  </div>

  <% @attendances.each do |attendance| %>
    <%= link_to attendance_path(attendance) do %>
      <div class="card">
        <div class="card_content">
          <div class="card_title">
            <%= attendance.title %>
            <p><%= attendance.created_at %></p>
          </div>
          <div class="card_detail">
            <%= image_tag 'default-avatar.png' %>
            <div>
              <p>cohki0305</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_attendance_path do %>
    <div class="float_btn">
      <p>出退勤を入力する</p>
    </div>
  <% end %>
</div>