<div class="attendance">
  <h1 class="attendance_title"><%= @attendance.title %></h1>
  <div class="attendance_detail">
    <%= image_tag 'default-avatar.png' %>
    <div>
      <p>cohki0305</p>
      <p>2020/4/16</p>
    </div>
    <div class="attendance_detail_actions">
      <div class="dropdown">
        <%= image_tag 'actions.svg', class: 'dropbtn' %>
        <div class="dropdown-content mini">
          <a href="#">編集する</a>
        </div>
      </div>
    </div>
  </div>
  <div class="attendance_start_time">
    <div class="attendance_title">
      <p>出勤時間</p>
    </div>
    <div class="attendance_time"><%= @attendance.start_time %></div>
  </div>
  <div class="attendance_end_time">
    <div class="attendance_title">
      <p>退勤時間</p>
    </div>
    <div class="attendance_time"><%= @attendance.end_time %></div>
  </div>
  <div class="attendance_break_time">
    <div class="attendance_title">
      <p>休憩時間</p>
    </div>
    <%= @attendance.break_time %>
  </div>
  <div class="attendance_content">
    <div class="attendance_title">
      <p>補足コメント</p>
    </div>
    <%= @attendance.content %>
  </div>
</div>