.attendance
  .attendance_detail
    = image_tag @attendance.user.avatar_image
    %div
      %p= @attendance.author_name
      %p= @attendance.display_created_at
    - if user_signed_in? && current_user.has_written?(@attendance)
      .attendance_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to'編集する', edit_attendance_path(@attendance)
            = link_to'削除する', attendance_path(@attendance), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  .attendance_start_time
    .attendance_title
      %p 出勤時間
    .attendance_time= @attendance.display_start_time
  .attendance_end_time
    .attendance_title
      %p 退勤時間
    .attendance_time= @attendance.display_end_time
  .attendance_break_time
    .attendance_title
      %p 休憩時間
    = "#{@attendance.break_time}時間"
  .attendance_content
    .attendance_title
      %p 補足コメント
    = @attendance.content
  .attendance_photo
    .attendance_title
      %p 写真
      - if @attendance.eyecatch.attached?
        .attendance_image
          = image_tag @attendance.eyecatch
